<%- include('partials/_header') %>

<body>

    <%- include('partials/_navigation') %>

    <!-- 

            user,
            veriGider,
            kategori
    -->

    <div class="container">
        <div class="d-flex">
            <div class="p-2 flex-fill">User Name : <%= user.name %></div>
            <div class="p-2 flex-fill"><a href="userpage/veriGiris"> Veri Ekle</a></div>
            <div class="p-2 flex-fill">Çıkış</div>
          </div>
    </div>
<!--
    <div class="container">
        <div class="row">
            <% for(let i in veriGider){ %>

                <div class="card">
                    <div class="card-header">
                        <%= veriGider[i].description %>
                    </div>
                </div>

           <% } %>
        </div>
    </div>
     -->


     <main class="">
        <div class="container">
            <div class="d-flex justifay-content-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Ocak</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Genel Durum <span> 5000 TL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </main>

<%- include('partials/_footer') %>
